html, body, #root {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

body {
    margin: 0;
    flex: 1;
    font-family: 'Helvetica', 'Arial', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
